In [2]:
#导入包
import numpy as np
import pandas as pd

In [4]:
#数据导入
path_data = '../data/csv_01/'
start_date = 82
end_date = 294
period_train=range(start_date,end_date+1)
for i_month in period_train:
    #-- load csv
    file_name = path_data + str(i_month) + '.csv'
    data_curr_month = pd.read_csv(file_name, header = 0)#设置表头
    n_stock = data_curr_month.shape[0]
    #-- remove nan
    data_curr_month = data_curr_month.dropna(axis=0)
    #-- merge
    if i_month == period_train[0]: #-- first month
        data_in_sample = data_curr_month
    else:
        data_in_sample = pd.concat((data_in_sample,data_curr_month), axis=0)

In [4]:
#历史收益数据截取
return_in_sample = data_in_sample.loc[:,'month':'return']
return_in_sample = return_in_sample.sort_values(['stock','month'])
return_in_sample

      month      stock  status    return
0        82  000001.SZ       1 -0.032765
0        83  000001.SZ       1 -0.069216
0        84  000001.SZ       1  0.158012
0        85  000001.SZ       1  0.055810
0        86  000001.SZ       1 -0.053113
...     ...        ...     ...       ...
2896     96  T00018.SH       1 -0.064110
2896     97  T00018.SH       1  0.249479
2896     99  T00018.SH       1  0.071460
2896    100  T00018.SH       1 -0.065915
2896    101  T00018.SH       1 -0.084593

[512422 rows x 4 columns]

In [7]:
from fitter import Fitter
# 假设df是包含股票数据的DataFrame，具有'month'、'stock'、'status'和'return'列
df = return_in_sample
# 获取唯一的股票名称
unique_stocks = df['stock'].unique()
# 从中随机选择五个股票
selected_stocks = pd.Series(unique_stocks).sample(n=5, random_state=42).tolist()
# 定义要拟合的分布列表
distributions = ['expon', 'gamma','dgamma', 'norm','lognorm','skewnorm','laplace_asymmetric','laplace','loglaplace','genhyperbolic','tukeylambda','johnsonsu']
# 创建一个空的DataFrame用于存储拟合结果
fit_results = pd.DataFrame(columns=['Stock', 'Best Fit Distribution', 'Best Fit Parameters'])
# 遍历选定的股票
for stock in selected_stocks:
    stock_data = df[df['stock'] == stock]
    returns = stock_data['return']
    # 使用Fitter库拟合分布
    f = Fitter(returns,distributions=distributions,bins=45)
    #f = Fitter(returns, timeout=100)
    f.fit()
    best_summary = f.get_best(method='sumsquare_error')
    best_fit_name = list(best_summary.keys())[0]
    best_fit_params = list(best_summary.values())[0]

D:\Anaconda3\lib\site-packages\scipy\stats\_continuous_distns.py:3759: IntegrationWarning: The algorithm does not converge.  Roundoff error is detected
  in the extrapolation table.  It is assumed that the requested tolerance
  cannot be achieved, and that the returned result (if full_output = 1) is
  the best which can be obtained.
  intgrl = integrate.quad(llc, x0, x1,

In [9]:
unique_stocks = df['stock'].unique()
print(len(unique_stocks))

4848

In [ ]:
    # 使用Fitter库拟合分布
    fitter = Fitter(returns)
    fitter.fit()
    fitter.summary()  # 输出拟合结果
    # 获取最佳拟合分布和参数
    best_fit_name = fitter.get_best()
    best_fit_params = fitter.fitted_param[best_fit_name]
    
    # 将拟合结果存储到DataFrame中
    fit_results = fit_results.append({
        'Stock': stock,
        'Best Fit Distribution': best_fit_name,
        'Best Fit Parameters': best_fit_params
    }, ignore_index=True)

# 打印拟合结果
print(fit_results)