In [1]:
#导入包
import pandas as pd
import numpy as np

In [7]:
hs300_monthly=pd.read_csv(r'../hs300_2005-2022/hs300_monthly.csv',dtype = object)
hs300_monthly

      Unnamed: 0 month_details   stock stock_name month
0              0       2005-04  600177        雅戈尔    85
1              1       2005-04  000709       河钢股份    85
2              2       2005-04  600170       上海建工    85
3              3       2005-04  600188       兖州煤业    85
4              4       2005-04  600221       海航控股    85
...          ...           ...     ...        ...   ...
60293      60293       2021-12  688363       华熙生物   285
60294      60294       2021-12  688396        华润微   285
60295      60295       2021-12  688561      奇安信-U   285
60296      60296       2021-12  688599       天合光能   285
60297      60297       2021-12  688981       中芯国际   285

[60298 rows x 5 columns]

In [25]:
hs300=pd.read_csv(r'../hs300_2005-2022/hs300.csv',dtype = object)
hs300

,Unnamed: 0,month,stock,stock_name
0,0,85,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
1,1,86,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
2,2,87,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
3,3,88,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
4,4,89,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
...,...,...,...,...
196,196,281,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
197,197,282,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
198,198,283,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
199,199,284,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
200,200,285,"['000001', '000002', '000063', '000066', '0000...","['平安银行', '万科', '中兴通讯', '中国长城', '华侨城', 'TCL科技',..."

In [26]:
from ast import literal_eval
hs300['stock']=hs300['stock'].apply(literal_eval)
hs300['stock_name']=hs300['stock_name'].apply(literal_eval)

In [33]:
hs300['stock']=hs300['stock'].apply(lambda x: list(set(x)))
hs300['stock_name']=hs300['stock_name'].apply(lambda x: list(set(x)))

In [39]:
for i in range(len(hs300)):
    if len(hs300['stock'][i])!=300:
        print(i)
        print(len(hs300['stock'][i]))

56
298