In [2]:
#导入包
import pandas as pd
import numpy as np

In [7]:
hs300_monthly=pd.read_csv(r'../hs300_2005-2022/hs300_monthly.csv',dtype = object)
hs300_monthly

      Unnamed: 0 month_details   stock stock_name month
0              0       2005-04  600177        雅戈尔    85
1              1       2005-04  000709       河钢股份    85
2              2       2005-04  600170       上海建工    85
3              3       2005-04  600188       兖州煤业    85
4              4       2005-04  600221       海航控股    85
...          ...           ...     ...        ...   ...
60293      60293       2021-12  688363       华熙生物   285
60294      60294       2021-12  688396        华润微   285
60295      60295       2021-12  688561      奇安信-U   285
60296      60296       2021-12  688599       天合光能   285
60297      60297       2021-12  688981       中芯国际   285

[60298 rows x 5 columns]

In [25]:
hs300=pd.read_csv(r'../hs300_2005-2022/hs300.csv',dtype = object)
hs300

,Unnamed: 0,month,stock,stock_name
0,0,85,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
1,1,86,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
2,2,87,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
3,3,88,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
4,4,89,"['600177', '000709', '600170', '600188', '6002...","['雅戈尔', '河钢股份', '上海建工', '兖州煤业', '海航控股', '海油工程'..."
...,...,...,...,...
196,196,281,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
197,197,282,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
198,198,283,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
199,199,284,"['000656', '000728', '000860', '002153', '0023...","['金科股份', '国元证券', '顺鑫农业', '石基信息', '东山精密', '欧菲光'..."
200,200,285,"['000001', '000002', '000063', '000066', '0000...","['平安银行', '万科', '中兴通讯', '中国长城', '华侨城', 'TCL科技',..."

In [26]:
from ast import literal_eval
hs300['stock']=hs300['stock'].apply(literal_eval)
hs300['stock_name']=hs300['stock_name'].apply(literal_eval)

In [33]:
hs300['stock']=hs300['stock'].apply(lambda x: list(set(x)))
hs300['stock_name']=hs300['stock_name'].apply(lambda x: list(set(x)))

In [39]:
for i in range(len(hs300)):
    if len(hs300['stock'][i])!=300:
        print(i)
        print(len(hs300['stock'][i]))

56
298

In [3]:
results_df = pd.read_excel(r'./results/evaluation results.xlsx')
results_df

,Column,Annual Return,Max Drawdown,Return Drawdown Ratio,Annual Volatility,Sharpe Ratio,Information Ratio
0,return_data_combined_coef,0.125785,0.496333,0.253428,0.305710,0.411451,0.294426
1,return_data_combined_cvar_coef,0.118664,0.596019,0.199094,0.312748,0.379424,0.216192
2,return_data_combined_ic,0.118217,0.500951,0.235985,0.296039,0.399330,0.293861
3,return_data_combined_cvar_ic,0.100320,0.628467,0.159626,0.333350,0.300945,0.154197
4,return_data_combined_corr,0.309095,0.273206,1.131361,0.294448,1.049743,1.456851
5,return_data_combined_cvar_corr,0.297102,0.337096,0.881356,0.300516,0.988638,1.284757
6,return_data_combined_hs300,0.068019,0.405584,0.167707,0.228143,0.298142,0.000000

In [4]:
# Rows to subtract: 2nd from 1st, 4th from 3rd, and 6th from 5th
rows_to_subtract = [1, 3, 5]
# Columns to exclude from subtraction
columns_to_exclude = ['Column']  # Replace 'Column' with the actual name of the first column
# Get columns except the ones to exclude
columns_for_subtraction = [col for col in results_df.columns if col not in columns_to_exclude]
# Perform row-wise subtraction excluding the specified columns
results_evaluation  = results_df[columns_for_subtraction].diff().iloc[rows_to_subtract]

In [9]:
results_evaluation

,Annual Return,Max Drawdown,Return Drawdown Ratio,Annual Volatility,Sharpe Ratio,Information Ratio
1,-0.007121,0.099686,-0.054334,0.007038,-0.032027,-0.078235
3,-0.017897,0.127515,-0.076359,0.037311,-0.098385,-0.139664
5,-0.011993,0.063890,-0.250005,0.006068,-0.061106,-0.172094

In [10]:
target_value = results_evaluation.iloc[:, 0].sum()  # 返回第一列的值的总和
target_value

-0.0370111186457911